@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap');

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #ffffff00;
  font-family: 'Nunito', sans-serif;
  background-image: url("athletic-training.jpeg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.88); 
  color: #000000;
}

.navbar .logo h1 {
  margin: 0;
  font-size: 24px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 20px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navbar .nav-links a:hover {
  color: #00d8fe;
}

/* Main Content Styles */
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.intro {
  width: 40%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.411); 
  color: #ffffff;
  border-radius: 8px;
}

.intro h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container {
  width: 40%;
  padding: 20px;
  height: 50%;
}

.box {
  background: #00000035;
  border-radius: 38px;
  text-align: center;
  position: relative;
  padding: 20px;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  padding: 15px 0;
  color: #d6b512;
}

.content {
  padding: 0;
}

/* Input Styles */
.input {
  background: #00d8fe79;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 28px;
  padding: 15px 0;
  margin-bottom: 15px;
}

.input label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #eab804;
  margin-bottom: 10px;
}

.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #00d8fe79;
  width: 80%;
  text-align: center;
  font-size: 18px;
}

/* Button Styles */
button#calculate {
  font-family: 'Nunito', sans-serif;
  color: #000000;
  background: #fafe00d2;
  font-size: 14px;
  border-radius: 12px;
  padding: 8px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: background 0.2s ease;
}

button#calculate:hover {
  background: #997406;
}

/* Result Styles */
.result {
  padding: 20px 10px;
}

.result p {
  font-weight: 600;
  font-size: 18px;
  color: #fafe00;
  margin-bottom: 10px;
}

.result #result {
  font-size: 24px;
  font-weight: 900;
  color: #000000f1;
  background-color: #dcc766;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 35px;
  margin-bottom: 15px;
}

#comment {
  color: #ffffff;
  font-weight: 800;
}

/* Responsive Design */
@media only screen and (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .intro, .container {
    width: 90%;
  }

  .intro {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .intro, .container {
    width: 100%;
  }

  .intro {
    margin-bottom: 20px;
    text-align: center;
  }

  .container {
    margin-bottom: 20px;
  }
}
